{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <main class="col-10 col-lg-12 ml-sm-auto">
                <div class="row mb-2">
                    <div class="col-12">
                        <h4>{{ 'user' | trans }} : {{ userForm.vars.value.username }}
                            , {{ userForm.vars.value.firstName }} {{ userForm.vars.value.lastName }}</h4>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        {% include 'flashbag.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body d-flex justify-content-center">
                                {% if app.user.image %}
                                    <img class="bd-placeholder-img card-img-top" width="260" height="225"
                                         src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('themes_home') }}"/>
                                {% else %}
                                    <img class="bd-placeholder-img card-img-top" width="260" height="225"
                                         src="{{ asset('img/logo_aem-lg.png') }}"/>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        {# On inclut les onglets permettant de naviguer entre les differents elements du profil. Les moderateurs ont aussi acces a tous les forums de leurs categories #}
                        {% include 'edit-by-user/tabs.html.twig' %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}


{% block javascript %}
{{ parent() }}


<script>
      $(document).ready(function(){
         $("#loadforums").on("click", function(event){
            $.ajax({
               url:        '{{ path('user_edit_by_user') }}',
               type:       'POST',
               dataType:   'json',
               async:      true,

               success: function(data, status) {
                  let e = $('<tr><th>author</th><th>name</th><th>description</th></tr>');
                  $('#forum').html('')
                             .append(e);

                  for(i = 0; i < data.length; i++) {
                     forum = data[i];
                     let e = $('<tr><td id = "author"></td><td id = "name"></td><td id = "description"></td></tr>');

                     $('#author', e).html(forum['author']);
                     $('#name', e).html(forum['name']);
                     $('#description', e).html(forum['description']);
                     $('#student').append(e);
                  }
               },
               error : function(xhr, textStatus, errorThrown) {
                  alert('Ajax request failed.');
               }
            });
         });
      });
   </script>

 <style>
      .table { border-collapse: collapse; }
      .table th, td {
         border-bottom: 1px solid #ddd;
         width: 250px;
         text-align: left;
      }
   </style>

{% endblock %}