{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <main class="col-10 col-lg-12 ml-sm-auto">
                <div class="row mb-2">
                    <div class="col-12">
                        <h4>{{ 'user' | trans }} : {{ userForm.vars.value.username }}
                            , {{ userForm.vars.value.firstName }} {{ userForm.vars.value.lastName }}</h4>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        {% include 'flashbag.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body d-flex justify-content-center">
                                {% if app.user.image %}
                                    <img class="bd-placeholder-img card-img-top" width="260" height="225"
                                         src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('themes_home') }}"/>
                                {% else %}
                                    <img class="bd-placeholder-img card-img-top" width="260" height="225"
                                         src="{{ asset('img/logo_aem-lg.png') }}"/>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        {# On inclut les onglets permettant de naviguer entre les differents elements du profil. Les moderateurs ont aussi acces a tous les forums de leurs categories #}
                        {% include 'edit-by-user/tabs.html.twig' %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}


{% block javascript %}
{# Appel du block javascript parent pour ne pas tout override #}
{{ parent() }}
{#  On a besoin de la version non slim de jquery pour avoir acces a l'ajax #}
{# On a besoin de mettre les scripts dans le twig pour acceder a l'url necessaire #}
			 <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
{% include 'edit-by-user/scripts.html.twig' %}

{% endblock %}