<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {# Ici les onglets #}
    {# Dans l'onglet de base sont les forums de l'utilisateur #}
    <li class="nav-item">
        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home"
           role="tab" aria-controls="pills-home" aria-selected="true">{{ 'your-threads'  | trans }}</a>
    </li>

    {# Ici la modification de profil est possible #}
    <li class="nav-item">
        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
           role="tab" aria-controls="pills-profile"
           aria-selected="false">{{ 'edit' | trans }}</a>
    </li>

    {# Ici les propositions faites par l'utilisateur #}
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
           role="tab" aria-controls="pills-contact" aria-selected="false">{{ 'your-proposals' | trans }}</a>
    </li>

    {# Ici les ateliers disponibles dans les categories de l'utilisateur #}
    <li class="nav-item">
        <a class="nav-link" id="pills-workshops-tab" data-toggle="pill" href="#pills-workshops"
           role="tab" aria-controls="pills-workshops" aria-selected="false">{{ 'workshops' | trans }}</a>
    </li>

    {% if is_granted('ROLE_MODERATOR') %}
        {# Si c'est au moins un moderateur, il aura aussi acces a d'autres donnees #}
        {# Ici les forums de toutes les categories qu'il supervise #}
        <li class="nav-item">
            <a class="nav-link" id="pills-forums-tab" data-toggle="pill" href="#pills-forums"
               role="tab" aria-controls="pills-forums" aria-selected="false">{{ 'forums' | trans }}</a>
        </li>
        {# Ici les nouvelles propositions #}
        {# TODO: Ici les signalements effectués #}
        <li class="nav-item">
            <a class="nav-link" id="pills-reports-tab" data-toggle="pill" href="#pills-reports"
               role="tab" aria-controls="pills-reports" aria-selected="false">{{ 'reports' | trans }}</a>
        </li>
    {% endif %}
</ul>
<div class="tab-content" id="pills-tabContent">
    {# Ici le contenu des onglets #}
    <div class="tab-pane fade " id="pills-home" role="tabpanel"
         aria-labelledby="pills-home-tab">
        <h3>{{ 'your-threads' | trans }}</h3>
        {% for f in forums %}
            {% include 'edit-by-user/threads.html.twig' %}
        {% endfor %}
    </div>

    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
         aria-labelledby="pills-profile-tab">
        <div class="card">
            <div class="card-body">
                {% form_theme userForm 'bootstrap_4_layout.html.twig' %}
                {{ form_start(userForm, {'attr': {'id': 'form_upload'}}) }}
                {{ form_rest(userForm) }}
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
         aria-labelledby="pills-contact-tab">
        <h3>{{ 'your-proposals' | trans }}</h3>
        {% for p in proposals %}
            {% include 'edit-by-user/proposals.html.twig' %}
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="pills-workshops" role="tabpanel"
         aria-labelledby="pills-workshops-tab">
        {% for w in workshops %}
            {% include 'edit-by-user/workshops.html.twig' %}
        {% endfor %}
    </div>

    {% if is_granted('ROLE_MODERATOR') %}
        <div class="tab-pane fade table-responsive-lg " id="pills-forums" role="tabpanel"
             aria-labelledby="pills-forums-tab">
            <div id="forum">
            </div>
        </div>




        <div class="tab-pane fade table-responsive " id="pills-reports" role="tabpanel"
             aria-labelledby="pills-reports-tab">

            <div id="js-reports"></div>
        </div>

    {% endif %}

</div>
