{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include 'admin.menu.html.twig' %}
            <main class="col-11 col-lg-10 ml-sm-auto">
                <div class="row mb-2" >
                    <div class="col-12">
                        <h4>{{'workshop' | trans }} : {{ workshop.name}}</h4>
                    </div>
                </div>
                <div class="row mb-2" >
                    <div class="col-12">
                        <a href="{{ path('workshop_admin') }}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'workshops' | trans | lower }}</a>
                        <a href="{{ path('workshop_delete', {'workshop' : workshop.id}) }}" class="btn btn-danger btn-sm" data-toggle="deleteConfirmation"><i class="bi bi-trash"></i> {{ 'delete' | trans }}</a>
                        <a href="{{ path('workshop_add_document', {'workshop' : workshop.id}) }}" class="btn btn-info btn-sm" ><i class="bi bi-plus-square"></i> {{ 'add_document' | trans }}</a>
                    </div>
                </div>
                <div class="row mb-2" >
                    <div class="col-12">
                        {% include 'flashbag.html.twig' %}
                    </div>
                </div>
                <div class="row" >
                    <div class="col-2">
                        <div class="card">
                            <div class="card-body ">
                                {% if workshop.image %}
                                    <img src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('themes_home')}}" class="img-fluid"/>
                                {% else %}
                                    <img src="{{asset('img/logo_aem-lg.png')}}" class="img-fluid"/>
                                {%	endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="card">
                            <div class="card-body">

                                {% for document in workshop.documents %}
                                    <div>
                                    <object type="application/pdf" width="100%" height="100%">
                                        <param name="src" value="{{ asset("pdf/upload/workshops/") ~ document.path  }}" />
                                        <i class="far fa-file-pdf"></i> <a href="{{ asset("pdf/upload/workshops/") ~ document.path  }}">{{ document.name }}</a> -
                                    </object>
                                        <a href="{{ path('workshop_delete_document',{'workshop' : workshop.id , 'document' : document.id}) }}">{{ 'delete' | trans }}</a>


                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
