{% extends 'base.html.twig' %}

{% block body %}
    {% set slug =  app.request.get('slug') %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12">
                {% include 'flashbag.html.twig' %}
            </div>
        </div>
        {% include 'theme/overview.html.twig' %}

        <div class="row">
            <main class="col" id="content">

                {% include 'breadcrumb/template.html.twig' %}

                <div class="row mb-3">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="mr-auto">
                                {% if app.user %}
                                {% if app.user in theme.category.users or is_granted('ROLE_ADMIN')%}
                                    <div class="btn-group" role="group">
                                        <a href="{{ path('workshop_add_byuser', {'theme' : theme.id, 'slug' : slug }) }}"
                                           class="btn btn-primary "><i class="bi bi-plus"></i> {{ 'add' | trans }}</a>
                                    </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="mr-5">
                                <div class="btn-group" role="group">
                                    {% if theme.voteType == 'yes-delegation' %}
                                    {% if app.user in theme.category.users or is_granted('ROLE_ADMIN')%}
                                        <a href="{{ path('delegation_add_theme', {'theme' : theme.id}) }}"
                                           class="btn btn-info"><i
                                                    class="bi bi-people-plus"></i> {{ 'delegations' | trans }}</a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mr-5">
                                <div class="btn-group" role="group">

                                    <a href="#" onclick="viewing('grid')"
                                       class="btn btn-secondary {{ ((app.request.get('view') == "grid" ) or app.request.get('view') == null)  ? "disabled" : "" }}">
                                        <i class="bi bi-grid"></i></a>

                                    <a href="#" onclick="viewing('tile')"
                                       class="btn btn-secondary {{ (app.request.get('view') == "tile")  ? "disabled" : "" }}"><i
                                                class="bi bi-grid-3x2-gap"></i></a>

                                    <a href="#" onclick="viewing('list')"
                                       class="btn btn-secondary {{ (app.request.get('view') == "list")  ? "disabled" : "" }}"><i
                                                class="bi bi-list"></i></a>

                                </div>
                            </div>
                            <div>
                                <div class="btn-group" role="group">
                                    <input id="search" type="search" class="form-control bg-light input-sm"
                                           placeholder="{{ 'search' | trans }}..."
                                           value="{{ (app.request.get('search')) }}"/>
                                    <a href="#" onclick="searching()" class="btn btn-secondary "><i
                                                class="bi bi-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        {% if app.request.get('view') == "tile" %}
                            {% include 'workshop/index-tile.html.twig' %}
                        {% elseif app.request.get('view') == 'list' %}
                            {% include 'workshop/index-list.html.twig' %}
                        {% else %}
                            {% include 'workshop/index-grid.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

