<div id="{{proposal.id}}" onclick="openRightNav(this.id)" class="proposal-open col-sm-12 col-lg-6 d-flex justify-content-center align-content-center " >
<span  class="hidden-for-id">{{proposal.id}}</span>
    <div class="card mb-3 mx-auto full-border propositions">
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ 'proposal' | trans }} : {{ proposal.name }}</h2>
                <p class="card-text">{{ proposal.description | raw }}</p>

                {# Si l'utilisateur est un administrateur restreint ou complet, on lui montre l'etat du quorum #}
                {% if is_granted ('ROLE_ADMIN_RESTRICTED')  %}
                    {# TODO: VOTE POURS SEULEMENT #}
                    {# TODO: AJOUTER SI UTILISATEUR A VOTE #}
                    {# Si le quorum est atteint, on le signale a l'administrateur #}
                    {% set quorumRequired = proposal.workshop.quorumRequired %}
                    {% set nbPossibleVoters = proposal.workshop.theme.category.users.count %}
                    {% set nbCurrentVotersFor = 0 %}
                    {% for votes in proposal.votes %}
                        {% if votes.votedFor %}
                            {% set nbCurrentVotersFor = nbCurrentVotersFor + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% set quorum =  nbPossibleVoters * quorumRequired / 100 %}
                    {% if nbCurrentVotersFor >= quorum %}
                        <div class="alert-success"> Quorum atteint ! </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

