<div id="{{proposal.id}}" onclick="openRightNav(this.id)" class="proposal-open col-sm-12 col-lg-6 d-flex justify-content-center align-content-center " >
<span  class="hidden-for-id">{{proposal.id}}</span>
    <div class="card mb-3 mx-auto full-border">
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ 'proposal' | trans }} : {{ proposal.name }}</h2>
                <p class="card-text">{{ proposal.description | raw }}</p>
            </div>
        </div>
    </div>
</div>

