<nav class="navbar fixed-top d-flex  flex-nowrap px-md-4 bg-white border-bottom shadow-md ">
    <h1 class="my-0">
        <a href="{{ path('homepage') }}" class="navbar-brand text-secondary">
            <h2>{{ website.title }}</h2>
        </a>

    </h1>

    <div class="d-none d-sm-block">
        <span class="badge badge-primary">{{ website.version }} - #{{ website.name }}</span>
    </div>
    {# Mini logo avec nombre de notifications, premiere lettre du pseudo et nom d'utilisateur complet #}
    {% if app.user %}
        <button type="button" class="btn btn-link text-decoration-none no-shadow " data-toggle=""
                data-display="static" aria-haspopup="true" aria-expanded="false">
            {% if app.user.numberUnreadNotifications != 0 %}
                <i class="fas fa-exclamation-circle"></i>{{ app.user.numberUnreadNotifications }}
            {% endif %}

            <div class="btn btn-light btn-outline-secondary rounded-circle avatar avatar-sm text-secondary">
                {{ app.user.username | first | capitalize }}
            </div>
            {{ app.user.username }}
        </button>
    {% else %}
        <div class="ml-auto">
            <a class="btn btn-outline-primary" href="{{ path('app_login') }}">{{ 'signin' | trans }}</a>
        </div>
    {% endif %}
</nav>

{% if app.user %}
    <button class="openbtn" onclick="openNav()">☰{{'Menu' | trans }}</button>

    <div id="mySidebar" class="sidebar-left">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

        <a class="" href="{{ path('delegation_index') }}"><i
                    class="fas fa-people-arrows"></i> {{ 'delegations' | trans }}</a>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMIN_RESTRICTED') %}
            <a class="" href="{{ path('admin') }}"><i
                        class="fas fa-user-cog"></i> {{ 'admin' | trans }}</a>
        {% endif %}
        <a href="{{ path('user_edit_by_user') }}" class="-item">
            <i class="fas fa-user-edit"></i>
            {{ 'profile' | trans }}
        </a>
        <a class="" href="{{ path('category_request') }}"><i class="fas fa-boxes"></i> {{ 'categories' | trans }}</a>
        <a class="" href="{{ path('notification') }}"><i
                    class="fas fa-dot-circle"></i> {{ 'notifications' | trans }}</a>
        <a class="" href="{{ path('app_logout') }}"><i
                    class="fas fa-sign-out-alt"></i> {{ 'logout' | trans }}</a>
    </div>
{% endif %}


</div>
