<nav class="col sidebar sidebar-grey bg-light col-1" style="width:50px">
	<ul class="nav text-nowrap">
		{% for theme in themes %}
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{theme.name}}">
				<a class="nav-link d-flex flex-row {{ theme.name | slugify in app.request.get('slug') ? 'active'}}" href="{{path('workshop_index', {'theme' : theme.id, 'slug' : theme.name | slugify})}}">
					{% if theme.image %}
						<img class="bd-placeholder-img img-thumbnail bg-transparent" src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('themes_list')}}" />
					{% else %}
						<img class="bd-placeholder-img img-thumbnail bg-transparent" src="{{ asset('img/logo_aem-sm.png')}}" />
					{% endif %}	
				</a>
			</li> 
		{% endfor %}
	</ul>
</nav>