<div class="card mb-3 mx-auto col-sm-12 col-lg-12 col-xl-10" >
    <div class="row g-0">
        <div>
            {% if theme.image %}

            <img class="bd-placeholder-img card-img-top" width="260" height="225"
                 src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('themes_home') }}"/>
            {% else %}
            <img class="bd-placeholder-img card-img-top" width="260" height="225"
                 src="{{ asset('img/logo_aem-lg.png') }}"/>
            {% endif %}
        </div>


        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ 'theme' | trans}} : {{ theme.name }}</h2>
                <p class="card-text">{{ theme.description | raw }}</p>
                <p class="card-text"><small class="text-muted">{{ theme.category.name }}</small></p>
            </div>
        </div>
    </div>
</div>
