{# templates/forum/show.html.twig #}
{% extends 'base.html.twig' %}

{% set slug = forum.proposal.workshop.theme.name | slugify ~ '_' ~ forum.proposal.workshop.name | slugify %}
{% block body %}
    <main main="role">
        <div class="container">

            <div class="row row-cols-1 d-flex justify-content-around ">

                <h2>{{ forum.name }}</h2>
                <h4>{{ forum.user }}</h4>
                <div>{{ forum.description | raw }}</div>
            </div>
            {# Si on est moderateur, on peut supprimer on signaler les messages #}
            {% if is_granted('ROLE_MODERATOR') %}
                <div class="row row-cols-1 d-flex justify-content-center ">
                    <div class="col-2">
                        {# report fix link #}
                        <a href="{{ path('user_edit_by_user')}}">
                            <button class="btn btn-danger">Report</button>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('forum_delete', {'workshop' : forum.proposal.workshop.id, 'proposal' : forum.proposal.id, 'slug' :  forum.proposal.workshop.theme.name | slugify ~ '_' ~ forum.proposal.workshop.name | slugify, 'forum' : forum.id}) }}">
                            <button class="btn btn-dark">Supprimer</button>
                        </a>
                    </div>
                </div>
            {% endif %}

        </div>
    </main>
{% endblock %}

